<h1>Welcome to Sweater Weather API</h1>
<p>The following are endpoints to call:</p>
  <ul>
      <li>Retrieving weather forecast for a location*: <em>GET /api/v1/forecast?location=denver,co</em></li>
      <li>Retrieving a background for a forecast location*: <em>GET /api/v1/backgrounds?location=denver,co</em></li>
      <li>Creating a user: <em>POST /api/v1/users</em></li>
      <li>Logging in a user: <em>POST /api/v1/sessions</em></li>
      <li>Favoriting a location: <em>POST /api/v1/favorites</em></li>
      <li>Returning favorite locations: <em>GET /api/v1/favorites</em></li>
  </ul>
  <p>*A location can be any city and two letter state abbreviation, separated by a comma</p>
